@let(tag = $props.href ? 'a' : 'button')
@let(variant = $props.variant ?? 'dark')
@let(variants = new Map([
  ['dark', 'bg-black text-white hover:bg-gray-900 focus:bg-gray-900'],
  ['ghost', 'bg-transparent text-gray-700 hover:bg-gray-100 border-gray-300 border'],
  ['blue', 'bg-blue-600 text-white hover:bg-blue-700 focus:bg-blue-700'],
  ['red', 'bg-red-600 text-white hover:bg-red-700 focus:bg-red-700'],
  ['green', 'bg-green-600 text-white hover:bg-green-700 focus:bg-green-700'],
  ['purple', 'bg-purple-600 text-white hover:bg-purple-700 focus:bg-purple-700'],
  ['brown', 'bg-amber-800 text-white hover:bg-amber-900 focus:bg-amber-900'],
  ['magenta', 'bg-pink-600 text-white hover:bg-pink-700 focus:bg-pink-700']
]))

@let(baseClasses = `inline-flex items-center justify-center gap-x-2 py-2.5 px-4 text-sm font-semibold rounded-lg transition-colors focus:outline-none focus:ring-2 focus:ring-offset-2 disabled:opacity-50 disabled:pointer-events-none ${variants.get(variant)}`)

<{{ tag }} {{ $props.except(['variant']).merge({ class: baseClasses }).toAttrs() }}>
  @if (type === 'submit')
    <span x-cloak x-show="isWorking" class="flex items-center gap-1.5">
      @svg('svg-spinners:blocks-shuffle-3')
    </span>
  @endif
  
  {{{ await $slots.main() }}}
</{{ tag }}>